<table class="attributes" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td class="attributes_content">
      <table class="" width="100%" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
          <td>
              Name
          </td>

          <td>
              Amount
          </td>
          <td>
              Total Price
          </td>
          
        </tr>
        <% @order.try(:order_charges).each do |order_charge| %>
          <tr>
            <td>
                <%= @order.get_charge_type %>
            </td>

            <td>
                <%= order_charge.name %>
            </td>
            <td>
                SAR <%= order_charge.amount %>
            </td>
            <td>
                <%= order_charge.try(:vat) %>
            </td>
            <td>
                <% vat_amount = order_charge.try(:vat).present? ?  order_charge.try(:amount) * order_charge.try(:vat) / 100 : 0.0 %>
                SAR <%= vat_amount %>
            </td>
            <td>
                SAR <%= order_charge.try(:amount) + vat_amount %>
            </td>
          </tr>
        <% end %>
        <tr class="discount">
          <th colspan="4">Discount</th>
          <th style="text-align:right">
           SAR <%= @order.discount_amount.round(2) %>
          </th>
        </tr>
        <tr class="total">
          <th colspan="4">Grand Total</th>
          <th style="text-align:right">
           SAR <%= @order.grand_total.round(2) %>
          </th>
        </tr>
      </table>
    </td>
  </tr>
</table>


<p>Thanks,
  <br><strong>Corelogistics</strong>
</p>
                        